<p id="notice"><%= notice %></p>

<p>
  <b>Name first:</b>
  <%= @artist.name_first %>
</p>

<p>
  <b>Name last:</b>
  <%= @artist.name_last %>
</p>

<p>
  <b>Instrument:</b>
  <%= @artist.instrument %>
</p>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
