<h2>Concert List</h2>

<% @concerts.each do |concert| %>
  
    <h3><%=link_to concert.title, concert %></h3>
    <p><%= concert.artist %></p>
    <p><%= concert.date %></p>
    <ul>  
      <li><%= link_to 'Edit', edit_concert_path(concert) %></li>
      <li><%= link_to 'Destroy', concert, :confirm => 'Are you sure?', :method => :delete %></li>
    </ul>
<% end %>

<br />

<%= link_to 'New Concert', new_concert_path %>
